<h1> Edit a wod </h1>

<%= simple_form_for [:owner, @wod ] do |f| %>

<%= f.input :wodname %>
<%= f.input :wodtype, as: :radio_buttons, collection:  [['Task Priority', true], ['Time Priority', false]] %>

<!-- <%= radio_button_tag(:wodtype, "task") %>
<%= label_tag(:is_task_priority, "Task Priority") %>
<br>
<%= radio_button_tag(:wodtype, "time") %>
<%= label_tag(:is_time_priority, "Time Priority") %> -->

<%= f.input :description %>
<%= f.input :introduction %>
<%= f.input :box %>
<%= f.input :is_hidden %>

    <%= f.submit "Submit", :class => "btn btn-success" %>
<% end %>
