<div class="pull-right">
  <%= link_to("Add a wod", new_owner_wod_path, :class => "btn btn-danger" ) %>
</div>

<br><br>


<table class="table table-boldered">

  <thead>
      <tr>
          <td>
              WOD's Name</td>
          <td>WOD Type</td>
          <td>WOD Description</td>
          <td>WOD Category</td>
      </tr>

  </thead>

  <% @wods.each do |wod| %>
  <tr>
    <td>
      <%= render_wod_status(wod) %>
      <%= link_to(wod.wodname, owner_wod_path(wod)) %>
    </td>
    <td>
      <%= wod.introduction %>
    </td>
    <td>
        <%= link_to("Destroy", owner_wod_path(wod), :class => "btn btn-xs btn-danger", :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        <%= link_to("Edit", edit_owner_wod_path(wod), :class => "btn btn-xs btn-warning") %>      
      <% if wod.is_hidden %>
        <%= link_to("Publish", publish_owner_wod_path(wod), :method => :post, :class => "btn btn-xs btn-info") %>
      <% else %>
        <%= link_to("Hide",hide_owner_wod_path(wod), :method => :post, :class => "btn btn-xs btn-success") %>
      <% end %>
    </td>
    <td>
      <%= wod.created_at %>
    </td>
  </tr>
  <% end %>
</table>
