<h1> Edit a wod </h1>

<%= simple_form_for @wod do |f| %>

<%= f.input :wodname %>
<%= f.input  :wodtype %>
<%= f.input :description %>
<%= f.input :introduction %>
<%= f.input :box %>

  <%= f.submit "Submit", :class => "btn btn-info"%>
<% end %>
