<h1> Add a WOD </h1>

<%= simple_form_for @wod do |f| %>

<%= f.input :wodname %>
<%= f.input  :is_time_priority %>
<%= f.input  :is_task_priority %>
<%= f.input :description %>
<%= f.input :introduction %>
<%= f.input :box %>
<%= f.input :is_hidden %>

  <%= f.submit "Submit", :class => "btn btn-info"%>
<% end %>
