<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @wod.wodname %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= simple_format(@wod.wodname) %>
      <%= simple_format(@wod.is_task_priority) %>
      <%= simple_format(@wod.is_time_priority) %>
      <%= simple_format(@wod.description) %>
      <%= simple_format(@wod.introduction) %>
      <%= simple_format(@wod.box) %>
    </p>
  </div>
</div>
