<h1> <%= @wod.wodname %> </h1>

<p>
  <%= simple_format(@wod.wodname) %>
  <%= simple_format(@wod.wodtype) %>
  <%= simple_format(@wod.description) %>
  <%= simple_format(@wod.introduction) %>
  <%= simple_format(@wod.box) %>
</p>
